// Loading spinner
@import 'spinner';

// (Extremely) simple homebrew grid system
@import 'grid';

// Yellowish-gold accent color
$accent-color: #ebb864;

// Fixes issue in Safari when scrolling up will reveal white footer
html, body {
  background-color: rgb(1, 1, 1);
}

body {
  font-family: 'Titillium Web', sans-serif;
  background: #1d1d1d;
  background: url('../images/moon.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

a {
  color: invert($accent-color);
}

h1 {
  color: lighten($accent-color, 20%);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  line-height: 9vh;
  font-size: 9vh;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 2vh;
}

.github-button {
  margin-top: 2vh;
  margin-left: 2vh;
}

#price {
  font-weight: bold;
}

.measure-type {
  letter-spacing: 1.5px;
  font-size: 4vh;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.separator {
  font-size: 250%;
  font-weight: 300;
  margin: 0 1% 0 1%;
}

#measures {
  flex-wrap: wrap;
}

.measure-number {
  border: 1px solid transparent; // so button doesn't 'shake' when border is applied
  border-radius: 2px;
  outline: none;
  background: none;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 3vh;
  color: $accent-color;
  padding: 0 1% 0 1%;
  text-align: center;

  &::placeholder {
    color: white;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $accent-color;
    color: white;
  }

  &.active, &:active {
    background: $accent-color;
    color: white;
  }
}

#percentage {
  font-size: 7vh;
  padding-bottom: 1.5vh;

  .number {
    color: $accent-color;
    font-weight: bold;
    margin-right: 0.3em;
    letter-spacing: 2px;
  }
}

#price {
  letter-spacing: 2px;
  font-size: 3vh;
  font-weight: 300;
  margin-bottom: 2vh;
}

#donate-container {
  font-family: monospace;
  letter-spacing: 1px;
  font-size: 2vh;

  p {
    margin: 0 0 2vh 0;
  }
}

::selection {
  background: invert($accent-color);
}
